# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/
.venv/

# IDE settings
.vscode/
.idea/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover

# Logs and databases
*.log
*.sqlite3

# Environment variables
.env
.env.local

# Mac OS
.DS_Store

# Datasets
*.csv
*.parquet
*.data
*.xls
*.xlsx
*.nc
*.tif
